# docs
include DEVELOPING
include LICENSE
include TEST-NOTES

# extra conf files used in ebuild
include cnf/make.conf.example.*

# extra files for tests
include .portage_not_installed

# extra scripts
include misc/*

# for the tests
include cnf/metadata.xsd
